* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.8;
}

header {
  background-color: #1f2c46;
  color: #41b883;
  font-size: 22px;
  padding: 22px;
}

header h2 {
  text-align: center;
}

#app {
  padding: 33px;
}

button {
  padding: 5px 11px;
  margin: 5px;
}

.card {
  width: 100px;
  height: 100px;
  border: 1px solid gray;
}
