<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue JS 3 Bangla Tutorial</title>
    <link rel="stylesheet" href="style.css" />
    <script src="vue.global.js"></script>
  </head>
  <body>
    <header>
      <h2>Vue JS 3 Bangla Tutorial</h2>
    </header>

    <div id="app">
      <input type="text" v-model="textColor" /> <br />
      <input type="text" v-model="bgColor" />
      <input type="color" v-model="bgColor" />
      <div class="card" :style="{backgroundColor: bgColor, color: textColor}">
        Card
      </div>
    </div>

    <script src="app.js"></script>
  </body>
</html>
