* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.8;
}

header {
  background-color: #1f2c46;
  color: #41b883;
  font-size: 22px;
  padding: 22px;
}

header h2 {
  text-align: center;
}

#app {
  padding: 33px;
}

.button {
  padding: 5px 11px;
  margin: 5px;
}

.active {
  background-color: rgb(3, 78, 97);
  color: #fff;
  border: 1px solid rgb(3, 78, 97);
}

.bold {
  font-weight: bold;
}

.card {
  width: 100px;
  height: 100px;
  border: 1px solid gray;
}

input[type="text"] {
  padding: 3px 9px;
  margin: 5px;
}

.red {
  width: 100px;
  height: 50px;
  background-color: red;
}

.green {
  width: 100px;
  height: 50px;
  background-color: green;
}

.blue {
  width: 100px;
  height: 50px;
  background-color: blue;
}
