<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue JS 3 Bangla Tutorial</title>
    <link rel="stylesheet" href="style.css" />
    <script src="vue.global.js"></script>
  </head>
  <body>
    <header>
      <h2>Vue JS 3 Bangla Tutorial</h2>
    </header>

    <div id="app">
      <input
        type="text"
        v-model="mobile"
        placeholder="Enter 11 digit mobile number"
      />
      <br />

      <input
        type="text"
        v-model="name.firstName"
        placeholder="Enter first name"
      />

      <input
        type="text"
        v-model="name.lastName"
        placeholder="Enter last name"
      />
    </div>

    <script src="app.js"></script>
  </body>
</html>
